@use "theme/globals" as *;


:host {
    --list-item-max-width: 600px;
}
//header
ion-header {
     background-color: #0B4385 !important;
    box-shadow: 0 2px 6px rgba($black, 0.1);
    border-bottom: 1px solid rgba($black, 0.05);

    ion-toolbar {
        --background: transparent;
        --ion-color-base: $white !important;

        ion-title {
            font-size: #{dynamic-font(20px)};
            font-weight: 600;
            color: white !important;
            text-align: center;
            margin: 0 auto;
        }

        .back-button {
            color: $white !important;
            font-size: #{dynamic-font(18px)};
            font-weight: 500;
        }
    }
}

/* Contenedor principal */
.core-login-site-connect {
    margin-top: 1.4rem;
    text-align: center;

    h2, p {
        color: $white;
    }
}

/* Imagen o icono del sitio */
.item ion-thumbnail {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 15%; 
    box-shadow: 0 2px 6px rgba($black, 0.15);
    overflow: hidden;
    background-color: $gray-100;

    img {
        max-height: 50px;
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-left: 50%;
        object-fit: cover;
        object-position: center;
        @include transform(translate3d(-50%,0,0));
    }

    ion-icon {
        margin: 0 auto;
        font-size: #{dynamic-font(35px)};
        height: 50px;
        color: $green; /* Verde corporativo */
    }
}

/* Lista de sitios */
.core-login-site-list,
.core-login-site-list-found {
    background: $white;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba($black, 0.08);
    padding: 0.5rem;
    transition: all 0.7s ease-in-out;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        padding: 0;
    }
}

/* Cargando lista */
.core-login-site-list-loading {
    background-color: rgba($white, 0.6);
    ion-spinner {
        --color: #357a32; /* Verde corporativo */
    }
}


/* Sitio seleccionado */
.core-login-entered-site {
    background-color: rgba($green, 0.08);
    border-left: 4px solid $green;

    ion-thumbnail {
        box-shadow: 0 0 6px rgba($green, 0.3);
    }
}

/* Iconos por defecto */
.core-login-default-icon {
    filter: grayscale(100%);
    opacity: 0.7;
}

/* Versión responsive */
@include media-breakpoint-up(md) {
    ion-content .core-login-site-logo {
        margin-top: 15%;
    }
}
